// Extension Material Design color palettes

$green-10: #F0FFF0;

$Yellow-50: #F3F2E7;

$gray-150: #F2F2F2;
$gray-1000: #0F0F0F;

$blue-gray-10: #F8F9FA;
$blue-gray-450: #70757a;
$blue-gray-750: #3C4043;
$blue-gray-1000: #161B1D;
